* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --text-primary: #fff;
  --text-secondary: rgba(255, 255, 255, 0.7);
  --text-disabled: rgba(255, 255, 255, 0.5);

  --action-active: #fff;
  --action-hover: rgba(255, 255, 255, 0.08);
  --action-selected: rgba(255, 255, 255, 0.16);
  --action-disabled: rgba(255, 255, 255, 0.3);
  --action-disabledBackground: rgba(255, 255, 255, 0.12);

  
  --background-default: #303030;
  --background-paper: #424242;

  --divider: rgba(255, 255, 255, 0.25);

  --primary: #37445e;
  --secondary: #12e7dc;
  --tertiary: #050bb6;
  --accent: #c9fdfb;

  --cursive: "Bad Script", cursive;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background-color: #00a0d1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #c3f5fc;
  border-radius: 5px;
}

* {
  /* for mozilla */
  scrollbar-color: #00a0d1 #fafafa;
  scrollbar-width: thin;
}

body {
  color: var(--text-primary);
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;

  background: radial-gradient(
        1.5em 6.28571em at 1.95em,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0.25) 50%,
        rgba(255, 255, 255, 0.25) 55%,
        rgba(255, 255, 255, 0) 55%
      )
      0 0,
    radial-gradient(
        1.5em 6.28571em at -0.45em,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0.25) 50%,
        rgba(255, 255, 255, 0.25) 55%,
        rgba(255, 255, 255, 0) 55%
      )
      1.5em 5.5em,
    radial-gradient(
        2.3em 4.57143em at 2.99em,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0.3) 50%,
        rgba(255, 255, 255, 0.3) 55%,
        rgba(255, 255, 255, 0) 55%
      )
      0 0,
    radial-gradient(
        2.3em 4.57143em at -0.69em,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0.3) 50%,
        rgba(255, 255, 255, 0.3) 55%,
        rgba(255, 255, 255, 0) 55%
      )
      2.3em 4em,
    radial-gradient(
        3.5em 6.28571em at 4.55em,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0.25) 50%,
        rgba(255, 255, 255, 0.25) 55%,
        rgba(255, 255, 255, 0) 55%
      )
      0 0,
    radial-gradient(
        3.5em 6.28571em at -1.05em,
        rgba(255, 255, 255, 0) 50%,
        rgba(255, 255, 255, 0.25) 50%,
        rgba(255, 255, 255, 0.25) 55%,
        rgba(255, 255, 255, 0) 55%
      )
      3.5em 5.5em,
    radial-gradient(#158eff, #00a0d1);
  background-color: mediumspringgreen;
  background-size: 1.5em 11em, 1.5em 11em, 2.3em 8em, 2.3em 8em, 3.5em 11em, 3.5em 11em, 100% 100%;
  background-repeat: repeat;
  min-height: 100vh;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}
